@import url('https://fonts.googleapis.com/css?family=Cousine:400,700|Galdeano|Gentium+Basic:400,400i,700&display=swap');

avatar img {
  border-radius: 50%;
}

#markdown-link > div {
  border-bottom: 1px solid transparent;
  transition: border-bottom ease-out 0.6s;
}

#markdown-link > div:hover {
  border-color: #8f192f;
  transition: border-bottom ease-in 0.15s;
}

div {
  transition: border-left ease-in-out 0.1s;
}

@media only screen and (max-width: 599px) {
  nav > a > div {
    font-size: 24px !important;
  }

  nav > div > a > div {
    font-size: 16px !important;
  }
  #markdown-content {
    width: 85vw;
  }
}

@media only screen and (min-width: 600px) and (max-width: 959px) {
  nav > a > div {
    font-size: 30px !important;
  }

  nav > div > a > div {
    font-size: 20px !important;
  }
}
